/*
Developer: Patrick Flynn
Date: ---
Website: Iron Viking Store
--------------
notes:
Logo Hex color values= #374fce(blue-ish)
                       #141414(light black)
*/

body, html {
  background-color: #141414;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.homepage {
  display: flex;
  height: 100%;
}

.headquote{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color:#141414;

  justify-content: space-around;
}

.img{
  display:flex;
  justify-content: space-around;
}
.logo{
  position: absolute;
  top:12%
}

.storebg, .fitnessbg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 50%;
  text-decoration: none;
}

.storebg {
  background-image: url(storebg.jpg);
}

.fitnessbg {
  background-image: url(fitnessbg.jpg);
}

.homecontainer {
  background-color: #acb4c1;
  opacity: 0.8;
  height: 100%;
  font-size: 2em;
}

.homecontainer:hover{
  background-color: #374fce;
}

.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
